@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_mLayout.cshtml";
    var products = ViewBag.Products as List<FastFoodSystem.WebApp.Models.Data.FFSProductOrder>;
}

@model FastFoodSystem.WebApp.Models.Data.FFSOrder

<section class="container mt-4" style="background-color: #f0f0f0; height:auto; border-radius:10px; padding:20px;">
    <div class="" title="header-info">
        <div class="row p-2">
            <div class="col-md-4">Mã đơn hàng: <span class="text-primary">@Model.FFSOrderId</span></div>
            <div class="col-md-8">Thời gian: @Model.Date</div>
            <div class="col-12 mt-3">Tổng cộng: <span class="h5">@string.Format("{0:#,##0}", Model.Cash) VND</span></div>
        </div>
    </div>

    <form asp-action="Delete" method="post">
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>
                                Mã sản phẩm
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Tổng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < products.Count; i++)
                        {
                            var product = products[i];
                            <tr>
                                <td>
                                    @product.FFSProductId
                                </td>
                                <td>
                                    @product.FFSProduct?.Name
                                </td>
                                <td>
                                    @string.Format("{0:#,##0}", product.FFSProduct?.Price) VND
                                </td>
                                <td>
                                    @product.Quantity
                                </td>
                                <td>
                                    @string.Format("{0:#,##0}", product.Quantity * product.FFSProduct?.Price) VND
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                    <a asp-action="ListOrder" class="btn btn-sm btn-secondary float-left">Quay lại</a>
                    <input type="hidden" asp-for="FFSOrderId" />
                    <input type="submit" value="Xóa" class="btn btn-sm btn-danger float-right" />
            </div>
        </div>
    </form>
</section>


