@model FastFoodSystem.WebApp.Models.Data.FFSOrder

@{
    Layout = "~/Views/Shared/_mLayout.cshtml";
    var products = ViewBag.Products as List<FastFoodSystem.WebApp.Models.Data.FFSProductOrder>;
    double total = 0;
}

<section class="container mt-4">
    <div class="" title="header-info">
        <div class="row p-2">
            <div class="col-md-4">Mã đơn hàng: <span class="text-primary">@Model.FFSOrderId</span></div>
            <div class="col-md-8">Thời gian: @Model.Date</div>
            <div class="col-12 mt-3">Tổng cộng: <span class="h5">@Model.Cash VND</span></div>
        </div>
    </div>

    <form asp-action="Update" method="post">
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>
                                Mã sản phẩm
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Tổng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < products.Count; i++)
                        {
                            var product = products[i];
                            <tr>
                                <td>
                                    @product.FFSProductId
                                </td>
                                <td>
                                    @product.FFSProduct?.Name
                                </td>
                                <td>
                                    @product.FFSProduct?.Price VND
                                </td>
                                <td>
                                    <input type="hidden" name="products[@i].FFSProductId" value="@product.FFSProductId" />
                                    <input type="number" name="products[@i].Quantity" value="@product.Quantity" min="1" style="width: 70px;" class="form-control rounded border-1 border-secondary" />
                                </td>
                                <td>
                                    @(product.Quantity * product.FFSProduct?.Price) VND
                                    <input type="hidden" name="id" value="@product.FFSOrderId" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a asp-action="ListOrder" class="btn btn-secondary">Quay lại</a>
                <input type="submit" value="Lưu chỉnh sửa" class="btn btn-success float-right">
            </div>
        </div>
    </form>
</section>
