@model FastFoodSystem.WebApp.Models.Data.Staff

@{
    ViewData["Title"] = "Xóa nhân viên";
    ViewData["Action"] = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
<section class="content">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Xóa nhân viên</h3>
            <div class="card-tools">
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-md-12 col-lg-4 order-1 order-md-2">
                    <div class="text-muted">
                        <p class="d-block">
                            <b>@Html.DisplayNameFor(model => model.StaffName): &nbsp;</b>
                            <a>@Html.DisplayFor(model => model.StaffName)</a>
                        </p>
                        <p class="d-block">
                            <b>@Html.DisplayNameFor(model => model.Address): &nbsp;</b>
                            <a>
                                @Html.DisplayFor(model => model.Address)
                            </a>
                        </p>
                        <p class="d-block">
                            <b>@Html.DisplayNameFor(model => model.Gender): &nbsp;</b>
                            <a>
                                @Html.DisplayFor(model => model.Gender)
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-md-12 col-lg-4 order-1 order-md-2">
                    <div class="text-muted">
                        <p class="d-block">
                            <b>@Html.DisplayNameFor(model => model.DoB): &nbsp;</b>
                            <a>
                                @Html.DisplayFor(model => model.DoB)
                            </a>
                        </p>
                        <p class="d-block">
                            <b>@Html.DisplayNameFor(model => model.Position): &nbsp;</b>
                            <a>
                                @Html.DisplayFor(model => model.PositionId)
                            </a>
                        </p>
                        <p class="d-block">
                            <b>@Html.DisplayNameFor(model => model.Email): &nbsp;</b>
                            <a>
                                @Html.DisplayFor(model => model.Email)
                            </a>
                        </p>
                    </div>
                   
                </div>
            </div>
            
        </div>

    </div>
    <div class="col-12 ">
        <div class="text-center mt-5 mb-3">
            <form asp-action="Delete">
                <a asp-action="Index" class="btn btn-sm btn-secondary float-left">Quay lại</a>
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Xóa" class="btn btn-sm btn-danger float-right" />
            </form>
        </div>
    </div>
</section>