@using FastFoodSystem.WebApp.Models.Data;

@model IEnumerable<Staff>

@{
    ViewData["Title"] = "Quản lý nhân viên";
    ViewData["Action"] = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
<section class="content">

    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StaffName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        @* <th>
                            @Html.DisplayNameFor(model => model.Department)
                        </th> *@ 
                        <th>
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
                        @Html.Partial("Buttons/_AddButton")
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            @* <td>
                                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                            </td> *@
                            <td>
                                @Html.DisplayFor(modelItem => item.Position.PositionName)
                            </td>
                            <td class="project-actions text-right">
                                @Html.Partial("Buttons/_DetailsButton", @item.Id)
                                @* @Html.Partial("Buttons/_EditButton", @item.Id) *@
                                @Html.Partial("Buttons/_DeleteButton", @item.Id)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>