@model IEnumerable<AgentManager.WebApp.Models.Data.Agent>

@{
    ViewData["Title"] = "Quản lý đại lý";
    ViewData["Action"] = "Danh sách đại lý";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
<section class="content">

    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AgentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReceptionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.District.DistrictName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AgentCategory.MaxDebt)
                        </th>
                        @Html.Partial("Buttons/_AddButton")
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AgentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceptionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.District.DistrictName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AgentCategory.MaxDebt)
                        </td>
                        <td class="project-actions text-right">
                            @Html.Partial("Buttons/_DetailsButton", @item.AgentId)
                            @Html.Partial("Buttons/_EditButton", @item.AgentId)
                            @Html.Partial("Buttons/_DeleteButton", @item.AgentId)
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</section>