@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var productDetail = ViewBag.ProductDetail;
}

@*<div>
    <h1>Product Detail</h1>
    <label>ID: @productDetail.maSanPham</label>
    <label>Name: @productDetail.tenSanPham</label>
    <label>Img: @productDetail.anh</label>
    <label>Weight: @productDetail.khoiLuong</label>
    <label>Amount: @productDetail.soLuongTonKho</label>
    <label>Temp: @productDetail.donViTinh</label>
    <label>Price: @productDetail.gia</label>
    <label>Loai: @productDetail.maLoai</label>
</div>*@

<h1>Product detail</h1>

<form method="post" asp-action="Delete" asp-controller="Product" enctype="multipart/form-data">
    <div class="form-group">
        <label>Mã sản phẩm: </label>
        <input class="form-control" readonly value="@productDetail.maSanPham"/>
    </div>
    <div class="form-group">
        <label>Tên sản phẩm: </label>
        <input class="form-control" readonly value="@productDetail.tenSanPham" />
    </div>
    <div class="form-group">
        <label class="col-md-12">Ảnh: </label>
        <img src="/img/@productDetail.anh" class="img-fluid" style="max-width:30rem">
    </div>
    <div class="form-group">
        <label>Khối lượng: </label>
        <input class="form-control" readonly value="@productDetail.khoiLuong" />
    </div>
    <div class="form-group">
        <label>Số lượng tồn kho: </label>
        <input class="form-control" readonly value="@productDetail.soLuongTonKho" />
    </div>

    <div class="form-group">
        <label>Đơn vị tính: </label>
        <input class="form-control" readonly value="@productDetail.donViTinh" />
    </div>

    <div class="form-group">
        <label>Giá: </label>
        <input class="form-control" readonly value="@productDetail.gia" />
    </div>

    <div class="form-group">
        <label>Loại: </label>
        <input class="form-control" readonly value="@productDetail.maLoai" />
    </div>
</form>
