
@model IEnumerable<FastFoodSystem.WebApp.Models.Data.Agent>
@{
    var lstProduct = ViewData["listProduct"] as IEnumerable<FastFoodSystem.WebApp.Models.Data.FFSProduct>;
    Layout = "~/Views/Shared/_mLayout.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>MaSP</th>
                        <th>Tên</th>
                        <th>Hình ảnh</th>
                        <th>Giá</th>
                        @Html.Partial("Buttons/_AddButton") 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lstProduct)
			        {
                    <tr>
                        <th scope="row">@item.FFSProductId</th>
                        <td>@item.Name</td>
                        <td class="w-25">
                            <img src="@item.Image" class="img-fluid  w-25">
                        </td>
                        <td>@item.Price₫</td>
                        <td class="project-actions text-right">
                            @Html.Partial("Buttons/_DetailsButton", @item.FFSProductId)
                            @Html.Partial("Buttons/_EditButton", @item.FFSProductId)
                            @Html.Partial("Buttons/_DeleteButton", @item.FFSProductId)
                        </td>
                    </tr>
			        }
                </tbody>
            </table>
        </div>
    </div>
</section>