@model FastFoodSystem.WebApp.Models.Data.FFSIngredient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FFSIngredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FFSCatere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FFSCatere.FFSCatereId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FFSIngredientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
