@using FastFoodSystem.WebApp.Models.Data
@model IEnumerable<Staff>

@{
    ViewData["Title"] = "Quản lý tài khoản";
    ViewData["Action"] = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
<section class="content">

    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Position.PositionName)
                        </th>
                        <th style="width: 30%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position.PositionName)
                            </td>
                            <td class="project-actions text-right">
                                @if(item.PasswordHash == null)
                                {
                                    <a asp-action="Register" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                        <i class="fas fa-folder"></i>
                                        Đăng ký
                                    </a>
                                }else
                                {
                                    <a asp-action="Register" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                        <i class="fas fa-folder"></i>
                                        Đặt lại mật khẩu
                                    </a>
                                }
                                <a asp-action="AddRole" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                                    <i class="fas fa-folder"></i>
                                    Sửa quyền
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                    <i class="fas fa-folder"></i>
                                    Xóa
                                </a>
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>